# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

*.DS_Store
Documentation/~$MSIMM30SelectionGuide.docx
GW4190-4MB-SOJ/GW4190-SOJ-backups/*
GW4190-4MB-SOP/GW4190-SOP-backups/*
GW4191-4MB-parity-SOJ/GW4191-SOJ-backups/*
GW4191-4MB-parity-SOP/GW4191-SOP-backups/*
GW4192-16MB-SOJ/GW4192-SOJ-backups/*
GW4192-16MB-SOP/GW4192-SOP-backups/*
GW4194-4MB-CBRFIX-SOJ/GW4194-SOJ-backups/*
GW4194-4MB-CBRFIX-SOP/GW4194-SOP-backups/*
*.kicad_prl
